# Dependencies
node_modules/
.pnp
.pnp.js

# Production build outputs
dist/
build/

# Android build outputs
android/.gradle/
android/app/build/
android/build/
*.apk
*.aab
*.bin
*.apk.bak

# Environment variables
.env
.env.local
.env.*.local

# TypeScript cache
*.tsbuildinfo

# Scratch & Logs
scratch/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
